*{

    margin:0;
    padding:0;
}
h1{

    font-family:san-serif;
    font-size:32px;
    font-weight:bold;
    text-align:left;
	float: left;
	
}

.price-table{


    padding:20px 0;
	

}
.text-center{
	float:left;
}
.container{
	float:left;
	margin:30px 50px;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width:50%;
    background-color:white;
    transition: 0.5s;
	box-shadow:0 2px 20px #ccc;
}

.price-head{
	
	background-color:#41c989;
	display:inline;
	float:left;
	padding:8px 4px;
	text-align:center;
    width:250px;
	
}

.price-head h2
{
	color:#fff;
	font-size:30px;
	font-weight:bold;
	margin-bottom:0;
	padding:5px;
	text-transform:uppercase;
	
}
.price-head p{
	
	
	color:#ccc;
	font-size:25px;
	font-weight:bold;
	line-height:30px;
	float: left;
}
span{
	font-size:15px;
	
}
.price-bottom
{
	display:inline;
	float:left;
	padding:15px 15px 30px;
	text-align:center;
	width:100%;
}
.buy-btn{
	background-color:#2196f3;
	border-radius:3px;
	color:#fff;
	display:inline-block;
	font-size:18px;
    padding:15px 50px;
	transition:all 0.5s;

}
	.buy-btn:hover{
		border-color:1px solid #fff;
		background-color:#3f51b5;
		color:white;
	
		
	
	
}
a{
	text-decoration:none;
	color:#fff;
}
